.container {
    width: 90%;
    margin: auto;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 10px;
  position: fixed;
  padding: 1rem;
  bottom: 0%;
  width: 100%;
}
